[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ExtDist"]
	path = ExtDist
	url = https://github.com/oleksii-nikolaienko/extdist
